.back-color{
    color: black;
    background-color: whitesmoke;
    border-radius: 5px;
border: 2px solid rgba(13, 12, 12, .090)


}

.back-color:hover,
.back-color:focus,
.back-color:active{
    color: black;
    background-color: white;
    border: 2px solid rgba(13, 12, 12, .090)

}