.login_details{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    flex-flow: column nowrap;
    gap:5vh;
    /* border: 1px solid red; */
}

p{
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 0, 0, 0.848);
}

.all_fields{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column nowrap;
    height: 350px;
    width: 308px;
    /* border: 1px solid red; */
}


.btn_cls{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.here{
    color: blue;
}

.heading-text{
    font-weight: 222;
    }